<div class="card">
    <div class="card-header">
        <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-256918"
            href="#card-element-queda">Clique para expandir <b>INTERRUPÇÕES</b></a>
    </div>
    <div id="card-element-queda" class="collapse">
        <div class="card-body">
            <form name="formularioQuedas" id="formularioQuedas">
                <div class="interrupcoes" id="mostraQueda">
                    <h5 style="display: inline;">Número evento e Titulo:</h5><br />
                    <input type="text" size="60" ng-model="Titulo"
                        placeholder="Ex.: #1 NOVA FRIBURGO X CACHOEIRAS DE MACACU">
                    <br />
                    <h5 style="display: inline;">Data e hora da queda: </h5><br />
                    <input id="horaqueda" size="60" type="text" ng-model="horaqueda" placeholder="Digite hora da queda">
                    <br />
                    <h5 style="display: inline;">Capacidade: </h5><br />
                    <input type="text" size="60" ng-model="capacidade" placeholder="Ex.: 10Gb">
                    <br />
                    <h5 style="display: inline;">Owner: </h5><br />
                    <input type="text" size="60" ng-model="Owner" placeholder="Digite o responsável pelo trecho">
                    <br />
                    <h5 style="display: inline;">Clientes afetados: </h5><br />
                    <input type="text" size="60" ng-model="clientes" placeholder="Digite os clientes afetados">
                    <br />
                    <h5 style="display: inline;">Resumo: </h5><br />
                    <textarea type="text" ng-model="resumo" cols="65" rows="5"
                        placeholder="Digite informações ou atualizações"></textarea>
                    <br />
                    <button type="button" class="btn btn-success"
                        onclick="copiaParaClipboard(document.getElementById('textoQueda').innerHTML)">
                        Copiar texto queda
                    </button>
                    <button type="button" class="btn btn-danger" type="reset" id="ResetForm">
                        Apagar texto queda
                    </button>
                </div>
                <div id="running-config">
                    <!-- </form> -->
                </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-256918"
                href="#card-element-normalizacao">Clique para expandir <b>NORMALIZAÇÃO</b></a>
        </div>
        <div id="card-element-normalizacao" class="collapse">
            <div class="card-body">
                <div class="normalizacao" id="mostraNormalizacao">
                    <h5 style="display: inline;">Número evento e Titulo:</h5><br />
                    <input class="inputNormalizacao" type="text" size="60" ng-model="Titulonormalizacao"
                        placeholder="Ex.: #1 NOVA FRIBURGO X CACHOEIRAS DE MACACU">
                    <br />
                    <h5 style="display: inline;">Data e hora da normalização: </h5><br />
                    <input class="inputNormalizacao" size="60" type="text" ng-model="horanormalizacao"
                        placeholder="Digite data e hora da normalização">
                    <br />
                    <h5 style="display: inline;">Capacidade: </h5><br />
                    <input class="inputNormalizacao" type="text" size="60" ng-model="capacidade"
                        placeholder="Ex.: 10Gb">
                    <br />
                    <h5 style="display: inline;">Owner: </h5><br />
                    <input class="inputNormalizacao" type="text" size="60" ng-model="Owner"
                        placeholder="Digite o responsável pelo trecho">
                    <br />
                    <h5 style="display: inline;">Clientes afetados: </h5><br />
                    <input class="inputNormalizacao" type="text" size="60" ng-model="clientes"
                        placeholder="Digite os clientes afetados">
                    <br />
                    <h5 style="display: inline;">Resumo: </h5><br />
                    <textarea type="text" ng-model="resumonormalizacao" cols="65" rows="5"
                        placeholder="Digite informações ou atualizações"></textarea>
                    <br />
                    <button type="button" class="btn btn-success"
                        onclick="copiaParaClipboard(document.getElementById('textoNormalizacao').innerHTML)">
                        Copiar texto normalização
                    </button>
                    <button type="button" class="btn btn-danger" type="reset" id="ResetForm">
                        Apagar texto normalização
                    </button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-256918"
                    href="#card-element-alertas">Clique para expandir <b>ALERTAS</b></a>
            </div>
            <div id="card-element-alertas" class="collapse">
                <div class="card-body">
                    <div class="alertas" id="mostraAlerta">
                        <h5 style="display: inline;">Alerta:</h5><br />
                        <input type="text" size="60" ng-model="Tituloalerta"
                            placeholder="Ex.: 1 NOVA FRIBURGO X CACHOEIRAS DE MACACU (ALERTA)">
                        <br />
                        <h5 style="display: inline;">Resumo: </h5><br />
                        <textarea type="text" ng-model="resumoalertas" cols="65" rows="5"
                            placeholder="Digite informações ou atualizações"></textarea>
                    </div>
                </div>
                <pre id="textoAlerta">
⚠️ *{{Tituloalerta}}* ⚠️
*Resumo*: {{resumoalertas}}</pre>
                <button type="button" class="btn btn-success"
                    onclick="copiaParaClipboard(document.getElementById('textoAlerta').innerHTML)">
                    Copiar texto alertas
                </button>
            </div>


        </div>

        <div id="running-config">
            <hr>
            <h1>Texto para copiar no Whatsapp</h1>
            <!-- <pre> -->

            <pre id="textoQueda">
❌ *#{{Titulo}}*
*Hora da queda*: {{horaqueda}}
*Capacidade*: {{capacidade}}
*Owner*: {{Owner}}
*Clientes afetados*: {{clientes}}
*Resumo*: {{resumo}}</pre>

            <pre id="textoNormalizacao">
✅ *#{{Titulonormalizacao}}* - *NORMALIZADO*
*Hora da queda*: {{horaqueda}}
*Hora da normalização*: {{horanormalizacao}}
*Capacidade*: {{capacidade}}
*Owner*: {{Owner}}
*Clientes afetados*: {{clientes}}
*Resumo*: {{resumonormalizacao}}</pre>
            <!--</pre>-->
        </div>

        <hr>

        <form action="PayslipServlet" method="get">
            Titulo: <input type="text" name="tituloformnovo" id="tituloformnovo"><br />
            Hora da queda: <input type="text" name="horaquedaformnovo" id="horaquedaformnovo"><br />
            Capacidade: <input type="text" name="capacidadeformnovo" id="capacidadeformnovo"><br />
            Texto para Whatsapp: <span id="result"></span>
            <br>
            <input type="button" value="Submit" onClick="pr()">
        </form>

        <script>
            function pr() {
                document.getElementById("result").innerHTML = document.getElementById('horaquedaformnovo').value + "<br> "
                    + document.getElementById('capacidadeformnovo').value + "<br> " + document.getElementById('tituloformnovo').value;
            }
        </script>
        <hr>